
/* 1665px */
@media only screen and (max-width: 1730px) {
    .cloud_crater_exp_outer{
        padding: 100px 0 0 0;
            .cloud_crater_exp_inner{
           
             
            }
        
    }
}


/* 1010px */
@media only screen and (max-width: 1010px) {

    .cloud_crater_exp_outer{
        padding: 0px 0 0 0;
            .cloud_crater_exp_inner{
           
             
            }
        
    }

}

/* 920px */

@media only screen and (max-width: 920px) {}

/* 820px */

@media only screen and (max-width: 820px) {}

/* 400px */

@media only screen and (max-width: 340px) {
    .cloud_crater_exp_outer{
      
            .cloud_crater_exp_inner{
                .proj_title_block{
                    left: -17px;
                }
                .huts_title_info{
                    left: 5px;
                }
                
             
            }
        
    }
}
