@import '../../../assets/styleShortcuts/scss/styleShorcuts.scss';

.Menu_btn{
    all: unset;
    border-radius: 100%;
    position: fixed;
    background-position: -322px -255px;
    left: 25px;
    top: 25px;
    height: 113px;
    width: 113px;
    background-color:$base-col;
    z-index: 5;
    cursor: pointer;
    .btn_label{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
            div{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
                h1{
                    font-size: 9px;
                    @include font-style-menu;
                }
                .turnBlack{
                    animation: turnBlack 2s  forwards 2s;
                }
               
            }
            
    }
    .btn{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        @include background-menu;
    }
    .fadeOut{
        animation: fadeOut 2s  forwards 2s;
        }
    .fadeIn{
        animation: fadeIn 2s forwards;
    }
}

@keyframes fadeOut {
0%{opacity: 1;}
100%{opacity: 0;}
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes turnBlack {
        0%{color: white}
        100%{color: $content-col}
    }



