@media only screen and (min-width: 1010px)  {
    .huts_title_info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 198px;
        right: 470px;
        top: 549px;
       
    }
}