@import '../../../styleVars/styleShorcuts.scss';


.huts_title_info{
    position: absolute;
    @include font-style-text;
    color: $content-col;
    font-weight: 400;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    width: 198px;
    .list_item{
        display: flex;
        float: left;
        height: 22px;
        .data{
            display: inline;
            overflow: hidden;
            white-space: nowrap;
            width: 0px;
        }
        .left{
            padding: 0 5px 0 0;
        }
        .right{
            padding: 0 0 0 5px;
        }
    }
       
}