@import '../../../../styleVars/styleShorcuts.scss';

#clicked{
    animation: Pulsate 1s linear
}

.slider_open{
      background-color: #963334;
/*     animation: closeSequence 5s forwards ; */
}
.slider_closed{
    background-color: #f1f1e4;
  
/*     animation: closeSequence 5s forwards ; */
}
.open_seq{
    animation: openSequence 5.5s forwards;
  
}
.close_seq{
    animation: closeSequence 5.5s forwards;
}
.open_seq_text{
    animation: openSequenceText 5.5s forwards;
  
}
.close_seq_text{
    animation: closeSequenceText 5.5s forwards;
}


@keyframes openSequenceText {
    0% {
        color: #f1f1e4;
    }
    100% {
        color: #963334;
    }
}
@keyframes closeSequenceText {
    0% {
        color: #963334;
    }
    100% {
        color: #f1f1e4;
    }
}
@keyframes openSequence {
    0% {
        background-color: #f1f1e4;
    }
    100% {
        background-color: #963334;
    }
}

@keyframes closeSequence {
    0% {
        background-color: #963334;
    }
    100% {
        background-color: #f1f1e4;
    }
}


@keyframes Pulsate {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}