@media only screen and (max-width: 1010px) {
  .project_clound_outer .proj_title_block {
    right: 190px;
    top: -32px;
  }
  .project_clound_outer .huts_title_info {
    top: 515px;
    left: 64px;
  }
  .project_clound_outer .trigger {
    width: 557px;
    height: 319px;
    top: 194px;
    left: 64px;
  }
  .project_clound_outer .img_1 {
    width: 195px;
    height: 424px;
    right: 48px;
  }
  .project_clound_outer .img_2 {
    width: 475px;
    height: 280px;
    top: 216px;
    left: 31px;
  }
  .project_clound_outer .img_3 {
    width: 280px;
    height: 280px;
    top: 216px;
    right: 165px;
  }
}
@media only screen and (max-width: 700px) {
  .project_clound_outer {
    width: 100%;
  }
  .project_clound_outer .proj_title_block {
    right: 265px;
    top: 30px;
  }
  .project_clound_outer .huts_title_info {
    left: auto;
    right: 348px;
    top: 457px;
  }
  .project_clound_outer .trigger {
    width: 468px;
    height: 255px;
    left: auto;
    right: 72px;
    top: 190px;
  }
  .project_clound_outer .img_1 {
    top: 141px;
    width: 174px;
    height: 395px;
    right: 37px;
  }
  .project_clound_outer .img_2 {
    width: 425px;
    height: 256px;
    top: 192px;
    right: 152px;
    left: auto;
  }
  .project_clound_outer .img_3 {
    width: 230px;
    height: 230px;
    top: 217px;
    right: 125px;
  }
}
@media only screen and (max-width: 600px) {
  .project_clound_outer {
    height: 530px;
  }
  .project_clound_outer .huts_title_info {
    right: 274px;
    top: 422px;
  }
  .project_clound_outer .trigger {
    right: 0px;
    top: 170px;
  }
  .project_clound_outer .img_1 {
    width: 152px;
    height: 340px;
  }
  .project_clound_outer .img_2 {
    width: 368px;
    height: 231px;
    top: 183px;
    right: 136px;
  }
  .project_clound_outer .img_3 {
    width: 210px;
    height: 210px;
    top: 316px;
    right: 84px;
  }
}
@media only screen and (max-width: 480px) {
  .project_clound_outer .proj_title_block {
    /*   right: 185px; */
    left: -20px;
    top: 45px;
  }
  .project_clound_outer .proj_title_block .upper h1 {
    font-size: 50px;
  }
  .project_clound_outer .proj_title_block .lower h1 {
    font-size: 50px;
  }
  .project_clound_outer .huts_title_info {
    left: 0px;
    top: 370px;
    z-index: 1;
  }
  .project_clound_outer .trigger {
    width: 310px;
    left: -37px;
    top: 195px;
    height: 170px;
  }
  .project_clound_outer .img_1 {
    width: 103px;
    height: 223px;
    top: 195px;
    left: 212px;
  }
  .project_clound_outer .img_2 {
    width: 310px;
    left: -37px;
    top: 195px;
    height: 170px;
  }
  .project_clound_outer .img_3 {
    width: 164px;
    height: 164px;
    top: 200px;
    right: auto;
    left: 145px;
  }
}
@media only screen and (max-width: 360px) {
  .project_clound_outer .proj_title_block {
    /*   right: 185px; */
    left: -30px;
    top: 55px;
  }
  .project_clound_outer .proj_title_block .upper h1 {
    font-size: 40px;
  }
  .project_clound_outer .proj_title_block .lower h1 {
    font-size: 40px;
    padding: 5px 0 0 0;
  }
  .project_clound_outer .huts_title_info {
    left: 0px;
    top: 370px;
    z-index: 1;
  }
  .project_clound_outer .trigger {
    width: 310px;
    left: -37px;
    top: 195px;
    height: 170px;
  }
  .project_clound_outer .img_1 {
    width: 103px;
    height: 223px;
    top: 196px;
    left: 180px;
  }
  .project_clound_outer .img_2 {
    width: 280px;
    left: -37px;
    top: 195px;
    height: 170px;
  }
  .project_clound_outer .img_3 {
    width: 164px;
    height: 164px;
    top: 200px;
    right: auto;
    left: 145px;
  }
}/*# sourceMappingURL=view.css.map */