@import '../../../styleVars/styleShorcuts.scss';

.label_outer{
    @include font-style-text;

    font-size: 9px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    .label_inner{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    span{
        padding: 0 2px 0 2px ;
    }
}
.lbl_open{
    color: $content-col;
}
.lbl_closed{
    color: #963334;
}
