@media only screen and (max-width: 1010px) {

    .project_clound_outer{

   
            .proj_title_block{
              right: 174px;
              top:-27px;  
             
            }
            .huts_title_info{
                top: 515px;
                left: 30px;
              
            }
            .trigger{
               
                width: 557px;
                height: 319px;
                top: 194px;
                left: 64px;
        
            }
            .img_1{
                width: 195px;
                height: 424px;
                right: 48px;
                animation: img1_x1010 2s forwards;
            }
            .img_2{
            width: 475px;
            height: 280px;
            top: 216px;
            left: 31px;

            }
            .img_3{
                width: 280px;
                height: 280px;
                top: 216px;
                right: 165px;
                animation: img3_x1010 2s forwards;

            }
        
        
        } 

}

@media only screen and (max-width: 700px) {

    .project_clound_outer{
        width: 100%;
        height: 750px;
        .proj_title_block{
  
            right: 120px;
            top: 0px;
         
        }
        .huts_title_info{
            left: auto;
            right: 380px;
            top: 457px;
         
        }
        .trigger_box{
           width: 468px;
           height: 255px;
           left: auto;
           right: 114px;
           top: 190px;
    
        }
        .img_1{
          top: 141px;  
          width: 174px;
          height: 395px;
          right: 37px;
          animation: img1_x700 2s forwards;
        }
        .img_2{
            width: 425px;
            height: 256px;
            top: 192px;
            right: 152px;
            left: auto;
        }
        .img_3{
            animation: img3_x700 2s forwards;
            width: 230px;
            height: 230px;
            top: 217px;
            right: 125px;
        }
    
    
    } 
    

}

@media only screen and (max-width: 600px) {
    .project_clound_outer{
        
        height: 700px;
        
        .proj_title_block{
  
            right: 55px;
            top: 0px;
         
        }
        .huts_title_info{
        right: 307px;
        top: 422px;
         
        }
        .trigger_box{
         right: 0px;
         top: 170px;
        }
        .img_1{
            width: 152px;
            height: 340px;
            animation: img1_x600 2s forwards;
        }
        .img_2{
            width: 368px;
            height: 231px;
            top: 183px;
            right: 136px;
        }
        .img_3{
          width: 210px;
          height: 210px;
          top: 316px;
          right: 84px;
          animation: img3_x600 2s forwards;
        }
    
    
    } 
  

}
@media only screen and (max-width: 538px){
    .project_clound_outer{
        .img_2{
            
            right: auto;
            left: 0px;
        }
        .huts_title_info{
            right: auto;
            left: 0px;
             
            }

    }
    

}
@media only screen and (max-width: 480px) {

    .project_clound_outer{
        
        
        .proj_title_block{
          
          left: 130px;
            top: 31px;
            .upper{
                h1{
                    font-size: 50px;
                }
            }
            .lower{
                h1{
                    font-size: 50px;
                }
            }
         
        }
        .huts_title_info{
           left:0px;
            top: 370px;
            z-index: 1;
        
         
        }
        .trigger_box{
            width: 310px;
            left: -37px;
            top: 195px;
            height: 170px;
          
        }
        .img_1{
          animation: img1_x480 2s forwards;
          width: 120px;
          height: 240px;
          top: 195px;
          left: 212px;


        }
        .img_2{
            width: 310px;
            left: -10px;
            top: 195px;
            height: 170px;
         
        }
        .img_3{
        animation: img3_x480 2s forwards;
        width: 130px;
        height: 130px;
        top: 200px;
        right: auto;
        left: 145px;
        }
    
    
    } 
  



}
@media only screen and (max-width: 390px) {

    .project_clound_outer{
        
        
        .proj_title_block{
          /*   right: 185px; */
          left: auto;
          right: 65px;
            top: 55px;
            .upper{
                h1{
                    font-size: 40px;
                }
            }
            .lower{
                h1{
                    font-size: 40px;
                    padding: 5px 0 0 0 ;
                }
            }
         
        }
        .huts_title_info{
           left:auto;
           right: 129px;
            top: 370px;
            z-index: 1;

           
        
         
        }
        .trigger_box{
            width: 310px;
            left: auto;
            right: 0px;
            top: 195px;
            height: 170px;
           
        }
        .img_1{
          animation: img1_x390 2s forwards;
          width: 103px;
          height: 223px;
          top: 196px;
          left: 180px;


        }
        .img_2{
            width: 267px;
            left: auto;
            right: 57px;
            top: 200px;
            height: 153px;
           
         
        }
        .img_3{
        animation: img3_x390 2s forwards;
        width: 130px;
        height: 130px;
        top: 200px;
        right: auto;
        left: 145px;
       
        }
    
    
    } 
  



}
@media only screen and (max-width: 335px){
    .project_clound_outer{
        
        
        .proj_title_block{
          /*   right: 185px; */
          left: 25px;
          right: auto;
            top: 55px;
            .upper{
                h1{
                    font-size: 40px;
                }
            }
            .lower{
                h1{
                    font-size: 40px;
                    padding: 5px 0 0 0 ;
                }
            }
         
        }
        .huts_title_info{
           left:0px;
           right: auto;
            top: 370px;
            z-index: 1;
        }
        .trigger_box{
            width: 310px;
            left: -37px;
            top: 195px;
            height: 170px;
            display: none;
        }
        
    
    } 
  



}


/* 
preset
.project_hut_outer{
    .trigger_box{
     
    }
    .proj_title_block{
     
        .upper{
            h1{
     
            }
        }
        .lower{
            h1{
     
            }
        }
    }
    .huts_title_info{
     
    }
    .img_1{
             
    }
    .img_2{
     
    }
    .img_3{
        }
} */