/* 1665px */
@media only screen and (max-width: 1730px) {
  .cloud_crater_exp_outer {
    padding: 100px 0 0 0;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_1 {
    left: 5px;
  }
}
/* 1065px */
@media only screen and (max-width: 1065px) {
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_1 {
    width: 534px;
    height: 332px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_3 {
    width: 380px;
    height: 380px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_4 {
    width: 380px;
    height: 380px;
    top: 1429px;
  }
}
/* 1010px */
@media only screen and (max-width: 1010px) {
  .cloud_crater_exp_outer {
    padding: 0px 0 0 0;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_3 {
    top: 1300px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_2 {
    top: 860px;
    width: 434px;
    height: 975px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_4 {
    top: 1361px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_5 {
    top: 1875px;
    width: 700px;
    height: 350px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_6 {
    top: 2163px;
    width: 380px;
    height: 380px;
  }
}
/* 920px */
@media only screen and (max-width: 920px) {
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_1 {
    width: 534px;
    height: 332px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_1 {
    right: auto;
    top: 665px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_2 {
    top: 1198px;
  }
}
/* 850px */
@media only screen and (max-width: 850px) {
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_3 {
    width: 300px;
    height: 300px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_4 {
    width: 300px;
    height: 300px;
    top: 1310px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_7 {
    top: 2358px;
    width: 378px;
    height: 330px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_3 {
    top: 1250px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_4 {
    right: 10px;
  }
}
/* 740px */
@media only screen and (max-width: 740px) {
  .cloud_crater_exp_outer {
    height: 3764px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_3 {
    top: 1880px;
    width: 380px;
    height: 380px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_3 {
    top: 1895px;
    right: 10px;
    left: auto;
    text-align: right;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_4 {
    right: 10px;
    top: 3272px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_4 {
    right: 0px;
    left: auto;
    top: 2310px;
    width: 380px;
    height: 380px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_5 {
    top: 2713px;
    width: 570px;
    height: 285px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_6 {
    top: 2950px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_7 {
    top: 3390px;
  }
}
/* 540px */
@media only screen and (max-width: 650px) {
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_3 {
    top: 2300px;
    right: auto;
    left: 10px;
    text-align: left;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_4 {
    right: auto;
    left: 0px;
    top: 2361px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_5 {
    width: 470px;
    height: 220px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_7 {
    top: 3430px;
  }
}
@media only screen and (max-width: 540px) {
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_2 {
    top: 840px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_1 {
    width: 431px;
    height: 279px;
    right: -5px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_1 {
    right: auto;
    top: 625px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_5 {
    width: 470px;
    height: 220px;
  }
}
/* 416px */
@media only screen and (max-width: 416px) {
  .cloud_crater_exp_outer {
    height: 3540px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_2 {
    top: 745px;
    width: 329px;
    height: 658px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_1 {
    width: 327px;
    height: 195px;
    right: auto;
    left: -5px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_3 {
    top: 1617px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_4 {
    top: 2111px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_5 {
    top: 2477px;
    width: 328px;
    height: 164px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_6 {
    top: 2666px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .img_7 {
    width: 300px;
    height: 243px;
    top: 3260px;
    right: auto;
    left: 0px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_1 {
    text-align: inherit;
    width: 97%;
    right: auto;
    top: 545px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_2 {
    width: 97%;
    text-align: left;
    top: 1423px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_3 {
    top: 2050px;
    right: 10px;
    left: auto;
    text-align: right;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .text_description_4 {
    top: 3063px;
  }
}
/* 400px */
@media only screen and (max-width: 340px) {
  .cloud_crater_exp_outer .cloud_crater_exp_inner .proj_title_block {
    left: -17px;
  }
  .cloud_crater_exp_outer .cloud_crater_exp_inner .huts_title_info {
    left: 5px;
  }
}/*# sourceMappingURL=view.css.map */