@import '../../../assets/styleShortcuts/scss/styleShorcuts.scss';

.home_center{
    display: flex;
    flex-direction: column;
    @include scaffolding;
    width: 100%;
    max-width: 1444px;
    overflow-x: hidden; 
}