@import '../../../assets/styleShortcuts/scss/styleShorcuts.scss';

.home_center{
    padding: 85px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1444px;
    overflow-x: hidden; 
}