@import '../../../assets/styleShortcuts/scss/styleShorcuts.scss';

    .project_huts_main{
        width: 100%;
        height: 99vh;
        overflow: hidden;
        .project_huts_inner{
            position: relative;
            width: 100%;
            height: 100%;
        }
        .project_huts_trigger_box{
            position: absolute;
            top: 90px;
            left: 30px;
            width: 280px;
            height: 220px;
            
        }
    
        .huts_img1{
            position: absolute;
            top: 150px;
            left: 3px;
            width: 199px;
            height: 135px;
            z-index: 2;
            
            img{
                width: 100%;
                height: 100%;
            }
        }
        .huts_img2{
            position: absolute;
            top: 66px;
            left: 107px;
            z-index: 1;
            width: 138px;
            height: 139px;
          
            img{
                width: 100%;
                height: 100%;
            }
        }
        .huts_img3{
            position: absolute;
            top: 199px;
            left: 164px;
            z-index: 1;
            width: 148px;
            height: 121px;
           
            img{
                width: 100%;
                height: 100%;
            }
        }
        .huts_img4 {
            position: absolute;
            top: 209px;
            left: 164px;
            z-index: 0;
            width: 82px;
            height: 68px;
            
            img{
                width: 100%;
                height: 100%;
            }
        }
        .huts_img5 {
            position: absolute;
            top: 209px;
            left: 164px;
            z-index: 0;
            width: 82px;
            height: 68px;
            
            img{
                width: 100%;
                height: 100%;
            }
        }
       
    }
    



@media only screen and (max-width: 320px)  {
    .huts_img3{
        left: auto !important;
        right: 0;
    }
    .project_huts_trigger_box{
        left: auto !important;
        right: 0;

    }
}