@media only screen and (max-width: 1010px) {

    .project_clound_outer{

   
            .proj_title_block{
              right: 215px;
       
             
            }
            .huts_title_info{
                top: 515px;
                left: 64px;
              
            }
            .trigger{
               
        
            }
            .img_1{
                width: 195px;
                height: 424px;
                right: 48px;
            }
            .img_2{
            width: 475px;
            height: 280px;
            top: 216px;
            left: 31px;

            }
            .img_3{
                width: 280px;
                height: 280px;
                top: 376px;
                right: 114px;

            }
        
        
        } 

}

@media only screen and (max-width: 700px) {

    

}

@media only screen and (max-width: 448px) {

  

}
@media only screen and (max-width: 360px) {



}