@import '../../../assets/styleShortcuts/scss/styleShorcuts.scss';


@media only screen and (min-width: 460px)  {

    .hemp_title{
      top: -50px;
      left: auto;
      right: 30px;
        span{
            
        }
        .lower_key{
         
        }
    }
}
