@import '../../../../../assets/styleShortcuts/scss/styleShorcuts.scss';
.expanded_title{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    padding: 10px 0 0 0;
    animation: fadeIn 1s ;
   h1{
       @include font-style-text;
       font-size: 45px;
   }
}
.expanded_img4{
    position: absolute;
    width: 338px;
    height: 298px;
    right: 450px;
    top:514px;
    img{
        width: 100%;
        height: 100%;
    }
}





@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}