@import '../../../../../assets/styleShortcuts/scss/styleShorcuts.scss';
.expanded_title{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    padding: 10px 0 0 0;
    animation: fadeIn 1s ;
   h1{
       @include font-style-text;
       font-size: 45px;
   }
}
.expanded_img4{
    position: absolute;
    width: 338px;
    height: 298px;
    right: 450px;
    top:614px;
    opacity:0;
    img{
        width: 100%;
        height: 100%;
    }
}

.expanded_text1{
    @include font-style-text;
    position: absolute;
    left: 0px;
    top: 735px;
    width: 440px;
    height: 237px;
    opacity:0;
    p{
        font-size: 20px;
    }
}
.expanded_text2{
    @include font-style-text;
    position: absolute;
    left: 0px;
    top: 1050px;
    width: 440px;
    height: 237px;
    opacity:0;
    p{
        font-size: 20px;
    }
}
.expanded_img5{
    position: absolute;
    width: 806px;
    height: 471px;
    bottom: 128px;
    opacity:0;
    img{
        width: 100%;
        height: 100%;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}