/* 1009px */
@media only screen and (max-width: 1009px) {

    .hemp_hut_outer{
      
        .hemp_hut_inner{
          
            /* title */
            .proj_title_block{
              top: 0px;
                .lower{
                
                }
            }
            /* titleDescription */
            .huts_title_info{
                top: 140px;
            }
    
        }
    
    }   

}





/* 450px */
@media only screen and (max-width: 450px) {

    .hemp_hut_outer{
      
        .hemp_hut_inner{
          
            /* title */
            .proj_title_block{
              top: 10px;
                .lower{
                
                }
            }
            /* titleDescription */
            
    
        }
    
    }   

}
