@import '../../../../assets/styleShortcuts/scss/styleShorcuts.scss';


.project_ann_outer{
    width: 100%;
    position: relative;

    .trigger{
      
        width: 701px;
        height: 319px;
        top: 194px;
        right:100px;

    }

    .proj_title_block{
        right: 565px;
        top: -1px;
    }

    .img_1{
        opacity: 0;
        position: absolute;
        width: 695px;
        height: 322px;
        top: 125px;
        right: 0px;
        z-index: 2;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_2{
        opacity: 0;
        position: absolute;
        width: 407px;
        height: 575px;
        top: 215px;
        right: 459px;
        z-index: 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_3{
        opacity: 0;
        position: absolute;
        width: 390px;
        height: 259px;
        top: 351px;
        right: 267px;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .huts_title_info{
        top: 476px;
        left: auto;
        right: 15px;
      
    }
}