@media only screen and (max-width: 850px) {

    .project_ann_outer{
        
    .trigger{
      right: 10px;
    }

    .proj_title_block{
        right: 430px;
    }

    .img_1{
      top: 135px;
      right: 20px;
      width: 621px;
      height: 279px;
    }
    .img_2{
        width: 377px;
        height: 513px;
        top: 178px;
        right: 400px;
    }
    .img_3{
        width: 362px;
        height: 215px;
        top: 195px;
        right: 267px;
    }
    .huts_title_info{
      
        top: 460px;
      
    }
}
  
}

@media only screen and (max-width: 800px) {

    
    .project_ann_outer{
        height: 670px;
        .trigger{
          width: 85%;
          right: 0px;
        }
    
        .proj_title_block{
            right: 370px;
        }
    
        .img_1{
            top: 120px;
            width: 574px;
            height: 263px;
            
        }
        .img_2{
            width: 327px;
            height: 460px;
            top: 200px;
            right: 383px;
           
           
        }
          
        .img_3{
           width: 294px;
           height: 175px;
           top: 208px;
           right: 283px;
           
        }
        .huts_title_info{
          
            top: 400px;
            right: 15px;
        
          
        }
    }
    

}

@media only screen and (max-width: 740px) {

    
    .project_ann_outer{
        height: 670px;
        .trigger{
          width: 85%;
          right: 0px;
        }
    
        .proj_title_block{
            right: 370px;
        }
    
        .img_1{
            top: 120px;
            width: 574px;
            height: 263px;
            
        }
        .img_2{
            width: 327px;
            height: 460px;
            top: 185px;
            right: 300px;
           
           
        }
          
        .img_3{
           width: 294px;
           height: 175px;
           top: 208px;
           right: 283px;
           
        }
        .huts_title_info{
          
            top: 400px;
            right: 15px;
        
          
        }
    }
    

}



@media only screen and (max-width: 650px) {
    .project_ann_outer{
   
        .trigger{
        
        }
    
        .proj_title_block{
          
        }
    
        .img_1{
           
        }
        .img_2{
          top: 190px;
          right: 250px;
        }
          
        .img_3{
          
        }
        .huts_title_info{
          
        top: 406px;
        right: 21px;
          
        }
    }
}
@media only screen and (max-width: 547px) {
    .project_ann_outer{
        height: 615px;
        .trigger{
            width: 409px;
            height: 195px;
            top: 122px;
        }
    
        .proj_title_block{
          right: 232px;
        }
    
        .img_1{
           width: 364px;
           height: 165px;
        }
        .img_2{
          width: 200px;
          height: 270px;
          top: 160px;
          right: 257px;
          left: auto;
        }
          
        .img_3{
          width: 229px;
          height: 132px;
          top: 257px;
          left: auto;
          right: 100px;
        }
        .huts_title_info{
          
        top: 394px;
        right: 5px;
          
        }
    }
}