.project_hut_outer{
    width: 700px;
    border: 0.1px solid forestgreen;
    align-self: flex-end;
    position: relative;
    /* title */
    .proj_title_block{
        height: 110px;
        top: 18px;
        .upper{
            opacity: 0;
        }
        .lower{
            opacity: 0;
        }
    }
    
    .img_1{
        position: absolute;
        width: 300px;
        height: 300px;
     
        /* temp */

        opacity: 0;
        /* temp */
        right: 110px;

        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_2{
        position: absolute;
        width: 435px;
        height: 294.65px;
        opacity: 0;

        left: 0px;
        top: 150px;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_3{
        position: absolute;
        width: 298px;
        height: 261.45px;
        opacity: 0;
        /* temp */
     
        z-index: 0;
        /* temp */
        right: 80px;
        top: 253px;

        img{
            width: 100%;
            height: 100%;
        }
    }




}