@media only screen and (max-width: 1010px) {

    .project_hut_outer{
        width: 100%;
        .proj_title_block{
            height: 120px;
            top: -31px;
            right: 75px;
        }
        .huts_title_info{
            top:425px;
            right: 408px;
    
        }
        
        .img_1{
            width: 250px;
            height: 250px;
            right: 120px;
        }
        .img_2{
            width: 370px;
            height: 253.65px;
            left: auto;
            right:267px;
            top: 150px;
        }
        .img_3{
           
            width: 253px;
            height: 220.45px;
            right: 107px;
            top: 253px;
        }
    
    
    
    
    }

}

@media only screen and (max-width: 700px) {

    .project_hut_outer{
        width: 100%;
        .proj_title_block{
            height: 113px;
            top: -19px;
            left: 216px;
        }
        .huts_title_info{
            top:355px;
            left:7px;
    
        }
        .img_1{
            width:180px;
            height: 180px;
            left:160px;
            top:10px;
            opacity: 0;
        }
        .img_2{
            width:290px;
            height: 195px;
            left: -35px;
            top: 150px;
        }
        .img_3{
            left:180px;
            width:210px;
            height: 190px;
            top: 220px;
        }
    }

}

@media only screen and (max-width: 448px) {

    .project_hut_outer{
        .proj_title_block{
            height: 113px;
            top: 10px;
            left: 169px;
        }
        .huts_title_info{
            .list_item{
                .data{
                    font-size: 12px;
                }
            }
            
    
        }
        .img_1{
            width: 180px;
            height: 180px;
            left: 120px;
            top: 38px;
        }
        .img_2{
            width: 270px;
            height: 175px;
           
        }
        .img_3{
            width: 180px;
            height: 160px;
           left: 125px;
         
        }
    }

}
@media only screen and (max-width: 360px) {

    .project_hut_outer{
        .proj_title_block{
            z-index: 1;
            left: auto;
            right: 70px;
        }
        .img_1{
            top: 15px;
           width:150px;
           height: 150px;
          left: 123px;
         
        }
        .img_2{
            width: 250px;
            height: 165px;
            top: 149px;
        }
        .img_3{
            width: 170px;
            height: 150px;
            top:194px;
            left: 90px;
           
        }
    }

}