@media only screen and (min-width: 900px) {
  .content_style_one {
    -webkit-animation: fadeIn 2s 1  ease-out forwards;
            animation: fadeIn 2s 1  ease-out forwards;
  }
  .content_style_one .image_box_1 {
    -webkit-animation: out 0.7s 1 alternate ease-out forwards;
            animation: out 0.7s 1 alternate ease-out forwards;
  }
  .content_style_one .image_box_2 {
    -webkit-animation: out2 0.7s 1 alternate ease-out forwards;
            animation: out2 0.7s 1 alternate ease-out forwards;
  }
  .content_style_one .image_box_3 {
    -webkit-animation: out3 0.7s 1 alternate ease-out forwards;
            animation: out3 0.7s 1 alternate ease-out forwards;
  }
  .content_style_one .active {
    -webkit-animation: side 0.7s 1 alternate ease-out forwards;
            animation: side 0.7s 1 alternate ease-out forwards;
  }
  .content_style_one .active1 {
    -webkit-animation: upp 0.7s 1 alternate ease-out forwards;
            animation: upp 0.7s 1 alternate ease-out forwards;
  }
  .content_style_one .active2 {
    -webkit-animation: side2 0.7s 1 alternate ease-out forwards;
            animation: side2 0.7s 1 alternate ease-out forwards;
  }
}

@-webkit-keyframes side {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes side {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@-webkit-keyframes upp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes upp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes side2 {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes side2 {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes out {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes out {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes out2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes out2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes out3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes out3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}
/*# sourceMappingURL=animate.css.map */