@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap");
.content_style_one {
  position: relative;
  height: 331px;
  margin: 120px 0 0 0;
}

.content_style_one .image_box_1 {
  position: absolute;
  top: 120px;
  width: 199px;
  height: 135px;
  z-index: 2;
}

.content_style_one .image_box_1 img {
  width: 100%;
  height: 100%;
}

.content_style_one .image_box_2 {
  position: absolute;
  bottom: 152px;
  left: 110px;
  right: 0px;
  width: 138px;
  height: 139px;
  z-index: 1;
}

.content_style_one .image_box_2 img {
  width: 100%;
  height: 100%;
}

.content_style_one .image_box_3 {
  position: absolute;
  bottom: 30px;
  left: 163px;
  width: 148px;
  height: 121px;
  z-index: 0;
}

.content_style_one .image_box_3 img {
  width: 100%;
  height: 100%;
}

.content_style_one .full_view_img1 {
  position: absolute;
  width: 190px;
  height: 168px;
  top: 275px;
  left: 0px;
}

.content_style_one .full_view_img1 img {
  width: 100%;
  height: 100%;
}

.content_style_one .full_view_img2 {
  width: 306px;
  height: 179px;
}

.content_style_one .full_view_img2 img {
  width: 100%;
  height: 100%;
}

.content_style_one .full_view_img4 {
  position: absolute;
  top: 420px;
  right: 0px;
  width: 190px;
  height: 168px;
}

.content_style_one .full_view_img4 img {
  width: 100%;
  height: 100%;
}

.content_style_one .full_view_img3 {
  position: absolute;
  top: 420px;
  right: 0px;
  width: 190px;
  height: 168px;
}

.content_style_one .full_view_img3 img {
  width: 100%;
  height: 100%;
}

.content_style_one .text_box {
  position: absolute;
  bottom: 75px;
  left: 10px;
  height: 50px;
  min-width: 241px;
}

.content_style_one .text_box h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 15px;
  color: #D73434;
  font-size: 50px;
  font-weight: 200;
}

.content_style_one .text_box ul {
  list-style: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 15px;
  color: #D73434;
  position: absolute;
  bottom: 50px;
  right: 38px;
  font-size: 13px;
}

.content_style_one .text_box p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 15px;
  color: #D73434;
  position: absolute;
  top: 100px;
  left: 2px;
  font-size: 13px;
  width: 265px;
}

.content_style_one .info_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 226px;
  height: 237px;
  text-align: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 0 0;
}

.content_style_one .info_text p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 15px;
  color: #D73434;
  position: absolute;
  top: 440px;
  left: 10px;
  word-spacing: 4px;
  font-size: 13px;
  width: 190px;
}

.content_style_one .info_text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 226px;
  height: 237px;
  text-align: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 0 0;
}

.content_style_one .info_text2 p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 15px;
  color: #D73434;
  position: absolute;
  bottom: 10px;
  right: 0px;
  font-size: 13px;
  width: 265px;
}

.content_style_one .open_info_text {
  position: absolute;
  top: 140px;
}
/*# sourceMappingURL=mobile.css.map */