@import '../../../../assets/styleShortcuts/scss/styleShorcuts.scss';

.project_hut_box{
    padding: 0 10px 0 10px;
    position: relative;
    width: 100%;
    height: 100%;
  
    .proj_title_block{
        right: 213px;
        top: 210px;
    }
    .trigger_box{
        width: 746px;
        height: 455px;
        position: absolute;
        right: 45px;
        top:100px;
        opacity: 0.1;
        cursor: pointer;
        z-index: 2;
    }
    .img_1{
        position: absolute;
        width: 319px;
        height: 319px;
        right: 145px;
        top: 92px;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_2{
        position: absolute;
        width: 444.55px;
        height: 301.75px;
        top: 195px;
        right: 236px;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_3{
        position: absolute;
        top: 280px;
        width: 306px;
        height: 267.75px;
        right: 50px;
        z-index: 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_4{
                position: absolute;
                width: 350px;
                height: 350px;
                top: 130px;
                right: 111px;
                z-index: -2;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_5{
        position: absolute;
        top: 130px;
        right: 111px;
        z-index: -2;
        img{
            width: 100%;
            height: 100%;
        }
    }
}