@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap");
/* Heading of Content */
.content_style_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 587px;
  margin: 0 0 0 0;
}

.content_style_two .content_container {
  width: 100%;
  max-width: 320px;
}

.content_style_two .content_container .header_field {
  height: auto;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 15px;
  color: #D73434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content_style_two .content_container .header_field h2 {
  z-index: 2;
  position: relative;
  top: 0px;
  right: 128px;
  font-size: 45px;
  font-weight: 200;
  line-height: 40px;
}

.content_style_two .content_container .header_field h2 #first {
  font-size: 75px;
  font-weight: 100;
}

.content_style_two .content_container .header_field h2 #tec {
  position: relative;
  right: 106px;
}

@media only screen and (min-width: 1000px) {
  .content_style_two {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content_style_two .content_container {
    width: 740px;
    max-width: 100%;
    height: 405px;
    position: relative;
    left: 173px;
    bottom: 50px;
  }
  .content_style_two .content_container .header_field {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content_style_two .content_container .header_field h2 {
    z-index: 3;
    font-size: 47px;
    top: 170px;
    right: 551px;
  }
  .content_style_two .content_container .header_field h2 #first {
    font-size: 85px;
  }
  .content_style_two .content_container .header_field h2 #tec {
    right: 8px;
  }
}

/* image1 of Content */
.content_style_two .content_container .content_first {
  position: relative;
  bottom: 66px;
  left: 83px;
  z-index: 1;
  width: 449px;
  height: 219px;
}

.content_style_two .content_container .content_first img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .content_style_two .content_container .content_first {
    position: relative;
    top: 110px;
    left: -266px;
    z-index: 2;
    width: 504px;
    height: 246px;
  }
  .content_style_two .content_container .content_first img {
    width: 100%;
    height: 100%;
  }
}

/* image2 of Content */
.content_style_two .content_container .content_sec {
  position: relative;
  bottom: 100px;
  right: 138px;
  z-index: 1;
  width: 294px;
  height: 393px;
}

.content_style_two .content_container .content_sec img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .content_style_two .content_container .content_sec {
    bottom: 360px;
    left: 199px;
    z-index: 1;
  }
}

/* text of Content */
.content_style_two .content_container .text_field {
  display: none;
}

.content_style_two .content_container .text_field p {
  width: 298px;
  height: 167px;
  text-align: right;
}

@media only screen and (min-width: 550px) {
  .content_style_two .content_container .text_field {
    bottom: 260px;
    right: 193px;
  }
}

@media only screen and (min-width: 1000px) {
  .content_style_two .content_container .text_field {
    position: relative;
    bottom: 772px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 375px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
    color: #D73434;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=home_content_style2.css.map */