@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&display=swap");
.content_two {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 370px !important;
  z-index: 0;
}

.content_two .header_field {
  z-index: 4;
  position: relative;
  right: 0px;
  top: -17px;
}

.content_two h2 {
  float: right;
}

.content_two h2 #tec {
  position: relative;
  right: 122px;
}

.content_two .content_first {
  right: -200px;
  bottom: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  z-index: -2;
}

.content_two .content_first img {
  width: 449px;
  height: 219px;
}

.content_two .content_sec {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -2;
  left: 0px;
  top: 242px;
}

.content_two .content_sec img {
  width: 504px;
  height: 246px;
}

.content_two .text_field {
  display: none;
  height: 167px;
  float: right;
}

.content_two .text_field p {
  letter-spacing: 1px;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  font-size: 13px;
  color: #D73434;
}

@media only screen and (min-width: 500px) {
  .home_page_block .home_inner .content_two {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 994px;
    width: 57%;
  }
  .home_page_block .home_inner .content_two .text_field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: -24px -72% 0px 0px;
  }
}

@media only screen and (min-width: 800px) {
  .home_page_block .home_inner .content_two {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 460px;
    width: 57%;
  }
  .home_page_block .home_inner .content_two .header_field {
    position: relative;
    bottom: 60px;
    right: 80px;
  }
  .home_page_block .home_inner .content_two .content_first {
    z-index: -2;
  }
  .home_page_block .home_inner .content_two .content_first img {
    width: 563px;
    height: 300px;
  }
  .home_page_block .home_inner .content_two .content_sec {
    z-index: -3;
    left: 482px;
    top: -184px;
  }
  .home_page_block .home_inner .content_two .content_sec img {
    width: 294px;
    height: 393px;
  }
  .home_page_block .home_inner .content_two .text_field {
    position: relative;
    top: auto;
    left: auto;
    right: 100px;
    text-align: right;
    bottom: 638px;
  }
}

@media only screen and (min-width: 1100px) {
  .home_inner .content_two {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    max-width: 460px;
    width: 57%;
  }
  .home_inner .content_two .header_field {
    position: relative;
    bottom: 60px;
    right: 80px;
  }
  .home_inner .content_two .content_first {
    z-index: -2;
  }
  .home_inner .content_two .content_first img {
    width: 615px;
    height: 333px;
  }
  .home_inner .content_two .content_sec {
    z-index: -3;
    left: 482px;
    top: -184px;
  }
  .home_inner .content_two .content_sec img {
    width: 294px;
    height: 393px;
  }
  .home_inner .content_two .text_field {
    position: relative;
    top: auto;
    left: auto;
    right: 100px;
    text-align: right;
    bottom: 670px !important;
    margin: 33px -140px 0px 0px !important;
  }
}

@media only screen and (min-width: 1300px) {
  .home_inner .content_two {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    position: relative;
    max-width: 460px;
    top: 40px;
    right: 15px;
    width: 57%;
  }
  .home_inner .content_two .header_field {
    position: relative;
    bottom: 60px;
    right: 80px;
  }
  .home_inner .content_two .content_first {
    z-index: -2;
  }
  .home_inner .content_two .content_first img {
    width: 615px;
    height: 333px;
  }
  .home_inner .content_two .content_sec {
    z-index: -3;
    left: 482px;
    top: -184px;
  }
  .home_inner .content_two .content_sec img {
    width: 294px;
    height: 393px;
  }
  .home_inner .content_two .text_field {
    position: relative;
    top: auto;
    left: auto;
    right: 100px;
    text-align: right;
    bottom: 670px !important;
    margin: 33px -140px 0px 0px !important;
  }
}
/*# sourceMappingURL=home_content_sec.css.map */