@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap");
/* Heading of Content */
.content_style_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 587px;
  margin: 0 0 0 0;
}

.content_style_three .content_container {
  width: 100%;
  max-width: 320px;
}

.content_style_three .content_container .header_field {
  height: auto;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 15px;
  color: #D73434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content_style_three .content_container .header_field h2 {
  z-index: 2;
  position: relative;
  bottom: 40px;
  right: 40px;
  font-size: 45px;
  font-weight: 200;
  line-height: 40px;
}

.content_style_three .content_container .header_field h2 #first {
  font-size: 75px;
  font-weight: 100;
}

.content_style_three .content_container .header_field h2 #tec {
  position: relative;
  left: 18px;
}

@media only screen and (min-width: 1000px) {
  .content_style_three {
    width: 100%;
  }
  .content_style_three .content_container {
    width: 100%;
    max-width: 768px;
    height: 405px;
  }
  .content_style_three .content_container .header_field {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content_style_three .content_container .header_field h2 {
    font-size: 47px;
    top: 31px;
    right: 367px;
  }
  .content_style_three .content_container .header_field h2 #first {
    font-size: 85px;
  }
  .content_style_three .content_container .header_field h2 #tec {
    left: 90px;
  }
}

/* image1 of Content */
.content_style_three .content_container .content_first {
  position: relative;
  bottom: 66px;
  left: 74px;
  z-index: 1;
  width: 245px;
  height: 184px;
}

.content_style_three .content_container .content_first img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .content_style_three .content_container .content_first {
    position: relative;
    bottom: 48px;
    left: 200px;
    z-index: 1;
    width: 408px;
    height: 293px;
  }
  .content_style_three .content_container .content_first img {
    width: 100%;
    height: 100%;
  }
}

/* image2 of Content */
.content_style_three .content_container .content_sec {
  position: relative;
  bottom: 125px;
  right: 44px;
  z-index: 0;
  width: 337px;
  height: 154px;
}

.content_style_three .content_container .content_sec img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .content_style_three .content_container .content_sec {
    bottom: 196px;
    right: 138px;
    z-index: 0;
    width: 654px;
    height: 292px;
  }
}

/* text of Content */
.content_style_three .content_container .text_field {
  position: relative;
  bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 15px;
  color: #D73434;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_style_three .content_container .text_field p {
  width: 298px;
  height: 167px;
  text-align: right;
}

@media only screen and (min-width: 1000px) {
  .content_style_three .content_container .text_field {
    bottom: 185px;
    right: -14px;
  }
}
/*# sourceMappingURL=home_content_style3.css.map */