@import '../../../styleVars/styleShorcuts.scss';

.content_overlay{
    background-color: $content-col;
    top: 0px;
    bottom: 0;
    width: 100%;
    position: fixed;
    height: auto;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 101%;
    overflow-x: hidden;
    z-index: 4;
    .center{
      margin: 3% 0 0 0;
      position: relative;
      top: 5%;
    }
    }
    
    @media only screen and (max-width: 610px) {
      .content_overlay{
        .center{
          width: 98%;
          margin: 0 0 0 5px;
        }
      }
    }