@keyframes img1_x390{
  from{
    opacity: 0;
    top: 180px;
    left: auto;
    right: 35px;

  }
  to{
    opacity: 1;
    top: 148px;
    left: auto;
    right: -10px;
  }
}
@keyframes img3_x390{
  from{
    opacity: 0;
    top: 243px;
    left: auto;
    right: 35px;

  }
  to{
    opacity: 1;
    top: 285px;
    left: auto;
    right: -1px;
  }
}
@keyframes img3_x480{
    from{
      opacity: 0;
      top: 230px;
      left: 150px;

    }
    to{
      opacity: 1;
      top: 285px;
      left: 220px;
    }
  }

@keyframes img1_x480{
    from{
      opacity: 0;
      top: 180px;
      left: 197px;

    }
    to{
      opacity: 1;
      top: 128px;
      left: 257px;
    }
  }
@keyframes img3_x600{
    from{
      opacity: 0;
      top: 257px;
      right: 90px;

    }
    to{
      opacity: 1;
      top: 316px;
      right: 40px;
    }
  }

@keyframes img1_x600{
    from{
      opacity: 0;
      top: 140px;
      right: 86px;

    }
    to{
      opacity: 1;
      top: 96px;
      right: 10px;
    }
  }
@keyframes img3_x700{
    from{
      opacity: 0;
      top: 270px;
      right: 105px;

    }
    to{
      opacity: 1;
      top: 315px;
      right: 78px;
    }
  }

@keyframes img1_x700{
    from{
      opacity: 0;
      top: 140px;
      right: 92px;

    }
    to{
      opacity: 1;
      top: 96px;
      right: 50px;
    }
  }
@keyframes img3_x1010{
    from{
      opacity: 0;
      top: 270px;
      right: 130px;

    }
    to{
      opacity: 1;
      top: 330px;
      right: 98px;
    }
  }
@keyframes img1_x1010{
    from{
      opacity: 0;
      top: 135px;
      right: 150px;

    }
    to{
      opacity: 1;
      top: 65px;
      right: 78px;
    }
  }
@keyframes img3_inital_crater{
    from{
      opacity: 0;
      top: 233px;
      right: 125px;

    }
    to{
      opacity: 1;
      top: 320px;
      right: 75px;
    }
  }
@keyframes img1_inital{
    from{
      opacity: 0;
      top: 160px;
      right: 135px;

    }
    to{
      opacity: 1;
      top: 69px;
      right: 0px;
    }
  }
@keyframes title_init_anim{
    from{
      opacity: 0;
      margin: 0 0 0 107px;

    }
    to{
      opacity: 1;
      margin: 0 0 0 -117px;
    }
  } 
@keyframes title_upper{
    from{
      opacity: 0;
  

    }
    to{
      opacity: 1;
  
    }
  }
  