@import '../../../assets/styleShortcuts/scss/styleShorcuts.scss';


.text_description_base{
    position: absolute;
    @include font-style-text;
    margin: 0 0 0 1px ;
    span{
        font-weight: 600;
    }
}