@import './styleVars/styleShorcuts.scss';

body{
    background: #963334;
    position: relative;
    
}

.app{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    
    .base_center{
      
        overflow: hidden;
        padding: 85px 0 0 0;
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1100px;
       
    
        
    }
}
