@import './tools.scss';

/* Heading of Content */
.content_style_two{
    display: flex;
    justify-content: flex-end;
    height: 587px;
    margin: 0 0 0 0;
    .content_container{
        width: 100%;
        max-width: 320px;
       .header_field{
           height: auto;
           width: 100%;
           @include font-style-text;
           display: flex;
           justify-content: flex-end;
           h2{
            z-index: 2;
            position: relative;
            top: 0px;
            right: 128px;
            font-size: 45px;
            font-weight: 200;
            line-height: 40px;
            #first{
                font-size:75px;
                font-weight: 100;
            }
            #tec{
                position: relative;
                right: 106px;
            }
         }
       }
    }
}
@media only screen and (min-width: 1000px) {
    .content_style_two{
        justify-content: flex-start;
        margin: 0 0 0 0;
        width: 100%;
        position: relative;
        left:265px;
        .content_container{
            width: 100%;
            max-width: 768px;
            height: 405px;
           .header_field{
              justify-content: center;
               h2{
                   z-index: 3;
                  font-size: 47px;
                  top: 170px;
                  right: 551px;
                #first{
                  font-size: 85px;
                }
                #tec{
                   right: 8px;
                }
             }
           }
        }
    }
}

/* image1 of Content */
.content_style_two{
    .content_container{
        .content_first{
            position: relative;
            bottom: 66px;
            left: 83px;
            z-index: 1;
            width: 449px;
            height: 219px;
            img{
              width: 100%;
              height: 100%;
            }
        }
    }
}
@media only screen and (min-width: 1000px) {
    .content_style_two{
        .content_container{
            .content_first{
                position: relative;
               top:110px;
                left: -266px;
                z-index: 2;
                width: 504px;
                height: 246px;
                img{
                  width: 100%;
                  height: 100%;
                }
            }
        }
    }
}
/* image2 of Content */
.content_style_two{
    .content_container{
        .content_sec{
            position: relative;
            bottom: 100px;
            right: 138px;
            z-index: 1;
            width: 294px;
            height: 393px;
            img{
                width: 100%;
                height: 100%;    
            }
        }
    }
}
@media only screen and (min-width: 1000px) {
    .content_style_two{
        .content_container{
            .content_sec{
            bottom: 360px;
            left: 199px;
              z-index: 1;
                img{
                 
                }
            }
        }
    }
}
/* text of Content */
.content_style_two{
    .content_container{
        .text_field{
           display: none;
            p{
                width: 298px;
                height: 167px;
                text-align: right;
            }
        }
    }
}
@media only screen and (min-width: 550px) {
    .content_style_two{
        .content_container{
            .text_field{
                bottom: 260px;
                right: 193px;
             
            }
        }
    }
}
@media only screen and (min-width: 1000px) {
    .content_style_two{
        .content_container{
            .text_field{
                position: relative;
                bottom: 772px;
                display: flex;
                right: 375px;             
                @include font-style-text;
                justify-content: center;
             
            }
        }
    }
    
}
