@import './tools.scss';

.content_thre{
align-self: flex-end;
z-index: 0;
.header_field{
    z-index: 4;
    margin: 20px 0 0 0 ;
    height:160px;
    width: 100%;
    position: relative;
    top: -51px;
}
h2{
    float: right;
    #tec{
        position: relative;
        right:55px;
    }
}
.content_first{
    right: 40px;
    bottom: 80px;
    position: relative;
    display: flex;
    float: right;
    z-index: -2;
    img{
        width: 310px;
        height: 184px;
    }   
}
.content_sec{
    position: relative;
    display: flex;
    z-index: -2;
    left: -50px;
    top: 80px;
    img{
      width: 337px;
      height: 154px;
    }
  }
  .text_field{
    width:382px;
    height: 102px;
    position: relative;
    top: 35px;
    left: -30px;
    padding: 0 0 57px 0;
    p{
    text-align: end;
     letter-spacing: 1px;
     float: right;
                
      
    }
  }
}

@media only screen and (min-width: 600px) {
    .home_page_block{
       
        .home_inner{
          
            .content_thre{
                align-self: center;
                max-width: 994px;
                width: 57%;
                .header_field{
                   h2{
                       #first{}
                       #tec{}
                   }     
                }
                .content_first{
                   z-index: -1;
                    img{
                        width: 380px;
                        height: 205px;
                    }
                }
                .content_sec{
                   top :90px;
                   left: -75px;
                  img{
                      width: 370px;
                      height: 175px;
                  }
                }
                .text_field{
                    left: -86px;
                    p{}
                }
            }
        }
    } 
}


@media only screen and (min-width: 800px) {
    .home_page_block{
       
        .home_inner{
          
            .content_thre{
                max-width: 460px;
                width: 57%;
                align-self:flex-end;
                .header_field{
                    position: relative;
                    bottom: 60px;
                    right: 555px;
                    top:-250px;
                   h2{
                       #first{}
                       #tec{}
                   }     
                }
                .content_first{
                    z-index: -2;
                    bottom: 500px;
                    img{
                        width: 500px;
                        height: 310px;
                    }
                }
                .content_sec{
                    z-index: -1;
                    left:-320px;
                    top:-245px;
                  img{
                    width: 486px;
                    height: 300px;
                  }
                }
                .text_field{
                    position: relative;
                    top: auto;
                    left: auto;
                    right: -30px;
                    bottom: 280px;
                    p{}
                }
            }
        }
    } 
}
@media only screen and (min-width: 1100px) {
    .home_page_block{
       
        .home_inner{
          
            .content_thre{
                max-width: 650px;
                width: 57%;
                .header_field{
                    position: relative;
                    bottom: 60px;
                    right: 600px;
                   h2{
                       #first{}
                       #tec{}
                   }     
                }
                .content_first{
                    z-index: 0;
                   
                    img{
                        width: 540px;
                        height: 289px;
                    }
                }
                .content_sec{
                    z-index: -1;
                    left:-320px;
                    top:-245px;
                  img{
                    width: 486px;
                    height: 332px;
                  }
                }
                .text_field{
                    top: auto;
                    left: auto;
                    right: -205px;
                    bottom: 520px;
                    p{}
                }
            }
        }
    } 
}

@media only screen and (min-width: 1300px) {
    .home_page_block{
       
        .home_inner{
          
            .content_thre{
                max-width: 650px;
                width: 57%;
                .header_field{
                    position: relative;
                    bottom: 60px;
                    right: 670px;
                   h2{
                       #first{}
                       #tec{}
                   }     
                }
                .content_first{
                    z-index: -2;
                    width: 615px;
                    height: 333px;
                    img{
                        width: 408px;
                        height: 293px;
                    }
                }
                .content_sec{
                    z-index: -1;
                    left:-320px;
                    top:-245px;
                  img{
                    width: 654px;
                    height: 292px;
                  }
                }
                .text_field{
                    width: 333px;
                    top: auto;
                    left: auto;
                    right: -65px;
                    bottom: 286px;
                    p{}
                }
            }
        }
    } 
}