@import './tools.scss';

.content_two{

align-self: flex-start;
max-width: 370px !important;
z-index: 0;

.header_field{
    z-index: 4;
    position: relative;
    right: 0px;
    top:-17px;
}
h2{
    float: right;
    #tec{
        position: relative;
        right:122px;
    }
}
.content_first{
    right: -200px;
    bottom: 80px;
    position: relative;
    display: flex;
    float: right;
    z-index: -2;
    img{
        width: 449px;
        height: 219px;
    }   
}
.content_sec{
    position: relative;
    display: flex;
    z-index: -2;
    left: 0px;
    top: 242px;
    img{
      width: 504px;
      height: 246px;
    }
  }
  .text_field{
display: none;
    height: 167px;
    float: right;
    p{
        letter-spacing: 1px;
        @include font-style-text;
    }
  }
}

@media only screen and (min-width: 500px) {
    .home_page_block{
       
        .home_inner{
          
            .content_two{
                
                align-self: flex-start;
                max-width: 994px;
                width: 57%;
                .header_field{
                   h2{
                       #first{}
                       #tec{}
                   }     
                }
                .content_first{
                   
                    img{}
                }
                .content_sec{
                   
                  img{}
                }
                .text_field{
                    display: flex;
                    width:80%;
                    margin: 0px -50% 0px 0px;
                    p{}
                }
            }
        }
    } 
}


@media only screen and (min-width: 800px) {
    .home_page_block{
       
        .home_inner{
          
            .content_two{
                align-self: flex-start;
                max-width: 460px;
                width: 57%;
                .header_field{
                    position: relative;
                    bottom: 60px;
                    right: 80px;
                   h2{
                       #first{}
                       #tec{}
                   }     
                }
                .content_first{
                    z-index: -2;
                    img{
                        width: 563px;
                        height: 300px;
                    }
                }
                .content_sec{
                    z-index: -3;
                    left:482px;
                    top:-184px;
                  img{
                    width: 294px;
                    height: 393px;
                  }
                }
                .text_field{
                    position: relative;
                    top: auto;
                    left: auto;
                    right: 100px;
                    text-align: right;
                    bottom: 635px;
                    p{}
                }
            }
        }
    } 
}
@media only screen and (min-width: 1100px) {
    
        .home_inner{
          
            .content_two{
                align-self: center !important;
                max-width: 460px;
                width: 57%;
                .header_field{
                    position: relative;
                    bottom: 60px;
                    right: 80px;
                   h2{
                       #first{}
                       #tec{}
                   }     
                }
                .content_first{
                    z-index: -2;
                    img{
                        width: 615px;
                        height: 333px;
                    }
                }
                .content_sec{
                    z-index: -3;
                    left:482px;
                    top:-184px;
                  img{
                    width: 294px;
                    height: 393px;
                  }
                }
                .text_field{
                    position: relative;
                    top: auto;
                    left: auto;
                    right: 100px;
                    text-align: right;
                    bottom: 670px;
                    margin: 33px -140px 0px 0px !important;
                
                    p{}
                }
            }
        }
    } 


@media only screen and (min-width: 1300px) {

       
        .home_inner{
          
            .content_two{
                align-self: flex-start !important;
                position: relative;
                max-width: 460px;
                top: 40px;
                right: 15px;
                width: 57%;
                .header_field{
                    position: relative;
                    bottom: 60px;
                    right: 80px;
                   h2{
                       #first{}
                       #tec{}
                   }     
                }
                .content_first{
                    z-index: -2;
                    img{
                        width: 615px;
                        height: 333px;
                    }
                }
                .content_sec{
                    z-index: -3;
                    left:482px;
                    top:-184px;
                  img{
                    width: 294px;
                    height: 393px;
                  }
                }
                .text_field{
                    position: relative;
                    top: auto;
                    left: auto;
                    right: 100px;
                    text-align: right;
                    bottom: 670px;
                    margin: 33px -140px 0px 0px !important;
                    p{}
                }
            }
        }
    } 
