@import './tools.scss';

.App{
    margin: 0 0 0 1px;
    width: 99.3vw;
    /* temp */
    height: 100vh;
    display: flex;
    justify-content: center;
    min-height: 490px;
    background-color: $base-col;

    .content-block{
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1540px;
        width: 100%;
        height: auto;
        background-color: $base-col; 
     
    }
    .content-block::-webkit-scrollbar{
        display: none;
    }
    
    .menu-overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        @include background-menu;
        width: 100.6vw;
        z-index: 2;
        height: 100vh;
       
    }
    .closedStance{
        left: 100vw;
    }
}


/* Viewport-max*/


