@import './tools.scss';

.center-menu{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
 
    .menu-list{
 
        max-width: 1540px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                @include font-style-menu;
                font-weight: 200;
                font-size: 50px;
                padding: 0 0 0 10px;
                letter-spacing:0.12em ;

            }
        }
    }
}

/* Viewport-max*/

@media only screen and (min-width: 772px) {
    
    .center-menu{
       
        .menu-list{
        
            ul{
                padding: 0;
                margin: 75px 0 0 0;
                li{
                    a{
                        padding: 0 0 0 4px;
                        font-size: 100px;
                        letter-spacing:0.4em ;
                    }
                }
            }
        }

    }
      
        }
 
    @media only screen and (max-height: 665px) {
    
        .center-menu{
           
            .menu-list{
            
                ul{
                    padding: 0;
                    margin: 75px 0 0 0;
                    li{
                        a{
                            padding: 0 0 0 4px;
                            font-size: 50px;
                            letter-spacing:0.4em ;
                        }
                    }
                }
            }
        }
          
}


    