@import './tools.scss';

.menuButton{
    margin: 43px 0 0 45px;
    height: 108px;
    width: 113px;
    border-radius: 100%;
    position: fixed;
    z-index: 4;
    left: 0;
    background-color:$base-col;
    .inner_img{
    background: url(../assets/img/c067b131-d360-4455-9960-43841275c823.jpeg) no-repeat center center fixed; 
    background-position: -170px -6px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    }
}
.menuButton:hover{
    cursor: pointer;
}

.Bouncein{
    cursor: pointer;
    animation: bounce-in 2s forwards;
}
.Bounceout{
    cursor: pointer;
    animation: bounce-out 2s forwards;
}

@keyframes bounce-in {
    0% {
      transform: scale(.9);
    }
    50% {
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }

  @keyframes bounce-out{
    0% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(.9);
    }
    70% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }



/* Viewport-max*/
@media only screen and (max-height: 500px) {
    .menuButton{
       margin: 20px 0 0 20px;
    }
   
}
@media only screen and (min-width: 600px) {
    
    .menuButton{
        height: 179px;
        width: 187px;
    }
    
}
@media only screen and (max-width: 1960px) {
    
    .menuButton{
        height: 130px;
        width: 130px; 
    }
   
}