@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&display=swap');

$base-col:#F8F8F8;
$content-col:#D73434;


@mixin font-style-text {
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    font-size: 13px;
    color: $content-col;
}

@mixin font-style-menu {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

@mixin scaffolding {
    border: 0.1px dotted black;
}
@mixin scaffolding-white {
    border: 0.1px dotted white;
}
@mixin  background-menu {
    background: url(../assets/img/c067b131-d360-4455-9960-43841275c823.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}