@import "../../../assets/styleShortcuts/scss/styleShorcuts.scss";

.cloud_crater_exp_outer{
    height: auto;
        .cloud_crater_exp_inner{
            position: absolute;
            width: 100%;
            height: 100%;

            

        }

    
}