@import '../../../../assets/styleShortcuts/scss/styleShorcuts.scss';

.content_title_block{
    @include font-style-text;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    top: 436px;
    right: 330px;
    width: 232px;
    .title_block{
        h5{
            font-size: 30px;
            font-weight: 300;
            height: 10px;
            span{
                font-size: 45px;
            }
        }
    }
    .description_block{
        margin: -20px 0 0 0;
        ul{
            margin: 14px 0 0 -40px;
            width: 272px;
            li{
                list-style: none;
            }
        }
    }

}