.content_style_one{
    .open_img_1{  
        animation: OpenWidth_img1 0.5s 1 alternate ease-out forwards;
     }
     .open_text_main{
        animation:  OpenPos_text_main 1s 1 alternate ease-out forwards;
     }
     .open_img_3{
         display: none;
     }
     .open_img_2{
        display: none;
    }
    .open_info_text{
        display: none;
    }
    .open_info_text2{
        display: none;
    }
    .full_view_img1{
        display: none;
    }
    .full_view_img2{
        display: none;
    }




    }
/////    
    @keyframes OpenWidth_img1{
        0%   { width:199px; 
               height: 135px;}
        100%  { width:250px; 
                height: 170px; }
      }
/////
@keyframes OpenPos_text_main{
    0%   {
        bottom: 75px;
        left: 10px;
    }
    100%  {
        top: 0px;
        left: 10px;
        bottom: auto;
     }
  }