.content_style_one{
   
    .open_text_main{
        animation: Open_main_text_title 1s 1 alternate ease-out forwards;
        p{
            display: none;
        }
        
     }
    .open_info_text{
       display: none;
    }
    .open_info_text2{
        display: none;
    }
    .open_view_img1{  
        animation: Open_animation_img_1 1s 1 alternate ease-out forwards;
        width: 199px;
        height: 135px;
     }
    .open_view_img2{
        display: none;
     }
    .open_view_img3{
        display: none;
    }
    .open_view_img4{
        display: none;
      }
    .open_view_img5{
        display: none;
    }
    }
//// img 1 move
@keyframes Open_animation_img_1{
    100%{
        width: 250px;
        height: 170px;
    }
}
//// main text move
@keyframes Open_main_text_title{
 
    100%{
        
        bottom: 275px;
    }
}
/// main text p disapear 

