@import '../../../../scss/tools.scss';






@media only screen and (min-width: 440px) {

    .content_style_one{

        max-width: 700px;
        .image_box_1{
            position: relative;
            top:81px;
            width: 48vw;
            height: 32vw;
            max-width: 420px;
            max-height: 290px;
            z-index: 2;
        }

        .image_box_2{
            position:relative;
            bottom: 33vw;
            left: 26vw;
            width: 32vw;
            height: 32vw;
            max-width: 265px;
            max-height: 310px;
            z-index: 0;
        
        }
        .image_box_3{
            position: relative;
            bottom: 33vw;
            left: 37vw;
            width: 42vw;
            height: 32vw;
            max-width: 265px;
            max-height: 216px;
            z-index: 0;
        }
        .text_box{
            position: relative;
            bottom: 53vw;
            left: 2vw;
            width: 42vw;
            z-index: 0;
        }





    }
}

@media only screen and (min-width: 900px){
    .content_style_one{
        
        @include scaffolding;
        max-width: 100%;
          .image_box_1{
            top:170px;
            right:205px;
            width: 523px;
            height: 355px;
            float: right;
          }
          .image_box_2{
            float: right;
            bottom: 0px;
            left: 323px;
            width: 363px;
            height: 366px;
          }
          .image_box_3{
            top: 0px;
            left: 0px;
            float: right;
            width: 390px;
            height: 318px;
            bottom: 0px;
            max-width: 390px;
            max-height: 318px;
          }
          .text_box{
            float: right;
            top: 200px;
            left: 670px;
            bottom: 0px;
            ul{
                list-style: none;
                @include font-style-text;
                position: relative;
                bottom: 50px;
                right: 38px;
                font-size: 13px;
            }

          }
    
    }
    
}

 

   

