

.project_cloud_box{
    padding: 0 10px 0 10px;
    position: relative;
    width: 100%;
    height: 100%;

    .img_1{
        position: absolute;
        z-index: -1;
        width: 219px;
        height: 474px;
        /* left: 520px; */
        right: 550px;
        top: 80px;
         
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_2{
        position: absolute;
        z-index: 1;
        width: 523px;
        height: 355px;
  
        top: 195px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_3{
        position: absolute;
        z-index: 0;
        width: 350px;
        height: 350px;
        left:304px;
        top: 445px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_4{
                position: absolute;
                width: 250px;
                height: 250px;
                top: 240px;
                left: 90px;
                z-index: -2;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .img_5{
        position: absolute;
        top: 130px;
        right: 111px;
        width: 250px;
        height: 250px;
        top: 240px;
        left: 90px;
        z-index: -2;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .project_description_block{
        overflow: hidden;
        top: 200px;
        right: 70%;

    }
}