@media only screen and (max-width: 800px) {
    .project_hut_box{
        .img_1{
            position: absolute;
            width: 138px;
            height: 138px;
            right: 107px;
            top: 92px;
        }
        .img_2{
            width: 199px;
            height: 135px;
            top: 155px;
            right: 152px;
            z-index: 1;

        }
        .img_3{
            width: 121px;
            height: 121px;
            top: 200px;
            right: 70px;
            z-index: 0;
        }
    }
}